
  :root {
    /* These variables exist so you can make quick and simple style changes without much CSS knowledge */
    /* applies to all areas */
    --font-size: 14px;
    --line-height: 1.3em;
    --font-color: black;
    --link-text-decoration: none;
    /* main content (between sidebars) */
    --content-padding: 25px;
    
    /* header */
    --header-height: 150px;
    --header-margin-bottom: 0px;

    /* sidebar */
    --sidebar-margin: 10px;
    --sidebar-width: 230px;
    --sidebar-padding: 15px;
    
    /* footer */
    --footer-height: 60px;
    
    /* navbar */
    --space-between-navitems: 20px;
    
    /* container */
    --container-width: 1200px;
    
    /* controls the gap between the content and the footer */
    --row-gap: 5px;
    /* To add scrollbars to your sidebars, just make the height a px value and change overflow to 'auto' */
    --sidebar-height: 100%;
    --sidebar-overflow: hidden;
    /*BG COLORS*/
    --container-bg-color: #7c0a99;
    --nav-bg-color: RGBA(35, 31, 78, 0.78);
    --sidebar-bg-color: #29917a;
    --content-bg-color: #8a1ebd;
    --footer-bg-color: #441e85;
  }
  @font-face {
    font-family: "visitor";
    src: url("/fonts/visitor.ttf");
  }
  @font-face {
    font-family: "damagrafik";
    src: url("/fonts/damagrafik.ttf");
  }
  @font-face {
    font-family: "addsbp";
    src: url("/fonts/ADDSBP__.TTF");
  }
  
  html,
  body {
    margin: 0;
    padding: 0;
    font-size: var(--font-size);
    line-height: var(--line-height);
    color: var(--font-color);
  }
  p {
    font-family: visitor;
    font-size: 18px;
  }
  h1 {
    font-family: visitor;
  }
  body a {
    color: var(--link-color);
    font-weight: bold;
    text-decoration: var(--link-text-decoration);
  }
  /*LINK COLORS*/
  #navbar a:link {
    color:#244d81
  }
  #navbar a:visited {
    color:#7c0c51
  }
  #navbar a:hover{
    color:#6fecd1
  }
  #navbar a:active {
    color:#b42b4e
  }

  #main-container {
    max-width: var(--container-width);
    margin: 0 auto;
    font-family: 'Ubuntu', sans-serif;
    border: 1px solid;
  }

  /*SINGULARITIES*/
  #construction { /*THE "UNDER CONSTRUCTION" MARQUEE*/
    color: crimson;
  }

  .flex {
    display: flex;
    margin-bottom: var(--row-gap);
  }

  .content-wrap {
    margin-top: 0px;
  }
  ol {
    font-family: visitor;
    font-size: 18px;
  }
  #content-container {
    width: 60%;
    margin-bottom: var(--row-gap);
    background-color: var(--content-bg-color);
  }
  
  #left-sidebar {
    width: var(--sidebar-width);
    margin-right: var(--sidebar-margin);
    margin-bottom: var(--row-gap);
    height: var(--sidebar-height);
    overflow: var(--sidebar-overflow);
    background-color: var(--sidebar-bg-color);
  }

  #right-sidebar {
    width: var(--sidebar-width);
    margin-left: var(--sidebar-margin);
    margin-bottom: var(--row-gap);
    height: var(--sidebar-height);
    overflow: var(--sidebar-overflow);
    background-color: var(--sidebar-bg-color);
  }
  #title {
    font-size: x-large;
    font-family: addsbp;
    text-align: center;
    color: rgb(184, 43, 43);
  }
  #header-contained {
    height: var(--header-height);
    margin-bottom: var(--header-margin-bottom);
    background-position: center center;
  }

  #footer {
    font-family: addsbp;
    font-size: 11px;
    height: var(--footer-height);
    text-align: center;
    color: var(--font-color);
    background-color: var(--footer-bg-color);
  }
  /*NAVBAR*/
  #navbar {
    margin-bottom: var(--row-gap);
    width: 1200px;
    margin: auto;
    
  }
  .nav {
    margin-left: 0;
    text-align: center;
    margin-top: 0;
    margin-bottom: none;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: var(--nav-bg-color);

  }
  .nav li {
    display: inline-block;
    padding-right: var(--space-between-navitems);
  }
  .nav li a {
    font-family: 'Quicksand', sans-serif;
      font-size: 24px;
  }

  .wrapper {
    font-family: visitor;
    padding: var(--content-padding);
    padding-top: var(--sidebar-padding);
  }

  .sidebar-wrapper {
    padding: var(--sidebar-padding);
    height: var(--sidebar-height);
    overflow: var(--sidebar-overflow);
  }

  .footer-wrapper {
    padding: 5px;
  }

  /* To keep your site RESPONSIVE, make sure this variable matches the width for --container-width UNLESS --container-width is 100% - if it's 100%, you'll need to manually input a breakpoint. */
  @media only screen and (max-width: 800px) {
    .flex {
      flex-wrap: wrap;
    }

    #left-sidebar {
      width: 100%;
      display: block;
      order: 2;
      margin-right: 0;
      margin-bottom:10px;
    }

    #right-sidebar {
      width: 100%;
      display: block;
      order: 3;
      margin-left: 0;
    }

    #content-container {
      width: 100%;
      display: block;
      order: 1;
      margin-bottom:10px;
    }

  }